  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "...">                                                                    
  <plist version="1.0">                                      
  <dict>                                                                                                                         
      <key>method</key>
      <string>developer-id</string>                                                                                              
      <key>signingStyle</key>      
      <string>automatic</string>                                                                                                 
      <key>teamID</key>         
      <string>VBYRKYS73S</string>                                                                                              
  </dict>                                                                                                                        
  </plist>
  